.paymentBody {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 25% 30% 30% 15%;
    grid-template-rows: 10% 70% 20%;

    .header {
        align-self: end;
        grid-column: 1/2;
        grid-row: 1/2;

        span {
            align-self: end;
            color: white;
            font-size: 40px;
        }
    }

    @mixin innerHeaderDefaults() {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        justify-items: start;
        align-items: end;

        span {
            font-size: 2rem;
            color: rgba($color: #fff, $alpha: .7);
        }

        .paymentInnerHeaderSeperator {
            transform: translateY(1rem);
            width: 50%;
            height: 100%;
        }
    }

    .paymentInfoContainer {
        grid-column: 2/3;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12.5% 12.5% repeat(3, 25%);

        .paymentInnerHeader {
            @include innerHeaderDefaults;

            .paymentInnerHeaderSeperator {
                border-bottom: 1px solid rgba($color: $orangeColor, $alpha: 1);
            }
        }

        .paymentInfoPriceContainer {
            grid-column: 1/2;
            grid-row: 3/4;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 20% 60%;
            align-items: center;
            height: 100%;

            .paymentInfoPlan {
                grid-row: 1/2;
                color: rgba($color: #fff, $alpha: .7);
                font-size: 1rem;
            }

            .paymentInfoPrice {
                grid-row: 2/3;
                color: rgba($color: #fff, $alpha: .7);
                font-size: 2.5rem;
            }

            div {
                grid-row: 3/4;
                display: flex;
                flex-direction: column;

                span {
                    color: rgba($color: #fff, $alpha: .7)
                }

                .paymentInfoPriceCalculationReferal {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;

                    span {
                        color: rgba($color: $orangeColor, $alpha: 1);
                    }
                }

                .paymentInfoPriceCalculationPrice {
                    font-size: 1.1rem;
                }
            }
        }

        .BASIC .paymentInfoPlan {
            color: rgba($color: $greenColor, $alpha: .7);
        }

        .NORMAL .paymentInfoPlan {
            color: rgba($color: $blueColor, $alpha: .7);
        }

        .PREMIUM .paymentInfoPlan {
            color: rgba($color: $pinkColor, $alpha: .7);
        }

        .paymentInfoUpgradePlan {
            transform: translateY(-3rem);
        }

        .upgradePlan {
            @include innerHeaderDefaults;
            grid-row: 3/6;
            grid-column: 1/2;
            align-items: start;
            transform: translateY(4rem);

            span {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .paymentInnerHeaderSeperator {
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: flex-start;
                justify-self: start;
                border-bottom: 1px solid rgba($color: $orangeColor, $alpha: 1);
                height: 2.5rem;
                width: 51%;
            }

            .mainDiv {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 70%;
                height: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 15% 15% 15% 55%;
                align-items: center;
                justify-items: center;

                .planOptionDiv {
                    width: 90%;
                    min-width: fit-content;
                    height: 70%;
                    border-radius: 10px;
                }

                span {
                    font-size: 1.4rem;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .BASIC {
                    grid-row: 2/3;
                    grid-column: 1/3;
                    background-color: rgba($color: $greenColor, $alpha: .15);

                    span {
                        color: rgba($color: $greenColor, $alpha: .7);
                    }
                }

                .NORMAL {
                    grid-row: 3/4;
                    grid-column: 1/2;
                    background-color: rgba($color: $blueColor, $alpha: .15);

                    span {
                        color: rgba($color: $blueColor, $alpha: .7);
                    }
                }

                .PREMIUM {
                    grid-row: 3/4;
                    grid-column: 2/3;
                    background-color: rgba($color: $pinkColor, $alpha: .15);

                    span {
                        color: rgba($color: $pinkColor, $alpha: .7);
                    }
                }
            }
        }
    }

    .paymentDataContainer {
        grid-column: 3/4;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12.5% 7.5% repeat(4, 20%);

        .paymentInnerHeader {
            @include innerHeaderDefaults;

            .paymentInnerHeaderSeperator {
                border-bottom: 1px solid rgba($color: $blueColor, $alpha: 1);
            }
        }

        .paymentOneTimeMainContainer {
            grid-column: 1/2;
            grid-row: 3/6;
            display: grid;
            grid-template-rows: 20% 20% 20% 20% 20%;
            grid-template-columns: 100%;
            position: relative;

            .paymentOneTimeEmail {
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    @include inputCardStyle(100%);
                }
            }

            @mixin paymentOneTimeCardDetailsDefaults {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            @mixin paymentCardElementDefaults {
                border: solid 2px $backgroundColor;
                padding: 1rem;
                border-radius: 10px;
                width: calc(100% - 2rem);
                height: 1.3rem;
                display: grid;

                .CardNumberElementDiv {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .cardIcons {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    justify-self: end;
                    align-content: center;

                    img {
                        background-color: rgba($color: #fff, $alpha: .7);
                        border-radius: 10%;
                    }
                }
            }

            .paymentOneTimeCardDetails1 {
                @include paymentOneTimeCardDetailsDefaults();

                .paymentCardElementCardNumber {
                    @include paymentCardElementDefaults();
                    grid-row: 1/2;
                    grid-column: 1/3;
                }
            }

            .paymentOneTimeCardDetails2 {
                @include paymentOneTimeCardDetailsDefaults();

                .paymentCardElementCardExpiry {
                    @include paymentCardElementDefaults();
                    grid-row: 2/3;
                    grid-column: 1/2;
                }

                .paymentCardElementCardCvc {
                    @include paymentCardElementDefaults();
                    grid-row: 2/3;
                    grid-column: 2/3;
                }
            }

            .paymentOneTimeSubmitContainer {
                grid-row: 4/5;
                grid-column: 1/2;
                align-self: end;
                height: 90%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                button {
                    @include inputButtonStyle;
                }
            }
        }

        @mixin paymentLoginSignupContainer() {
            grid-row: 3/6;
            grid-column: 1/2;
            display: grid;
            grid-template-columns: 100%;

            .paymentLoginSignupHeader {
                grid-column: 1/2;
                grid-row: 1/2;
                color: rgba($color: #fff, $alpha: .8);
                font-size: 1.3rem;
                display: flex;
                justify-self: center;
            }

            .paymentLoginSignupsHeaderSeperator {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 6%;
                height: 60%;
                display: flex;
                justify-self: center;
                border-bottom: rgba($color: #fff, $alpha: .3) solid 1px;
            }

            input {
                grid-column: 1/2;
                @include inputCardStyle;
            }

            .paymentLoginSignupButtonLinkContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    @include inputButtonStyle(50%, 80%);
                }

                span {
                    color: rgba($color: #fff, $alpha: .7);
                    @include hover($blueColor)
                }
            }
        }

        .paymentLoginMainContainer {
            @include paymentLoginSignupContainer();
            grid-template-rows: 15% 20% 20% 20% 25%;

            .paymentLoginEmail {
                grid-row: 2/3;
            }

            .paymentLoginPassword {
                grid-row: 3/4;
            }

            .paymentLoginSignupButtonLinkContainer {
                grid-row: 4/5;
            }
        }

        .paymentSignupMainContainer {
            @include paymentLoginSignupContainer();
            grid-template-rows: 15% 20% 20% 20% 20% 5%;

            .paymentSignupEmail {
                grid-row: 2/3;
            }

            .paymentSignupPassword1 {
                grid-row: 3/4;
            }

            .paymentSignupPassword2 {
                grid-row: 4/5;
            }
        }

        .paymentVerificationSignupMainBody {
            position: fixed;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60%;
            width: 60%;
            background-color: $backgroundColor;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 30% 10% 40% 20%;

            div {
                grid-column: 1/2;
            }

            .paymentVerificationHeader {
                grid-row: 1/2;
                justify-self: center;
                align-self: end;

                span {
                    color: rgba($color: #fff, $alpha: .7);
                    font-size: 1.5rem;

                    span {
                        color: rgba($color: $blueColor, $alpha: 0.7);
                        margin: 0 .4rem 0 .4rem;
                    }
                }
            }

            .paymentVerificationNoMailLine {
                grid-row: 2/3;
                width: 20%;
                height: 100%;
                display: flex;
                justify-self: center;
                align-self: flex-start;
                border-bottom: rgba($color: #fff, $alpha: .7) 1px solid;
                width: 40%;
            }

            .paymentVerificationLink {
                grid-row: 3/4;
                justify-self: center;
                align-self: end;

                span {
                    transition: all .5s ease;
                    font-size: 1rem;
                    color: rgba($color: #fff, $alpha: .7);

                    &:hover {
                        color: rgba($color: $blueColor, $alpha: .7);
                    }
                }
            }

            .paymentVerificationNoMail {
                grid-row: 3/4;
                justify-self: center;
                align-self: center;
                width: 50%;
                height: 20%;

                button {
                    border: none;
                    outline: none;
                    background-color: rgba($color: $blueColor, $alpha: 0.25);
                    color: rgba($color: #fff, $alpha: .7);
                    border-radius: 10px;
                    padding: 20px 0px 20px 0px;
                    width: 45%;
                    transition: ease all .5s;

                    &:hover {
                        background-color: rgba($color: $blueColor, $alpha: 0.55);
                    }
                }
            }
        }
    }

    .freeBody {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 40px;

        button {
            outline: none;
            border: none;
            background-color: rgba($greenColor, $alpha: .15);
            color: rgba($greenColor, $alpha: .9);
            font-size: 1em;
            padding: 3% 15% 3% 15%;
            border-radius: 10px;
            transition: all 1s ease;

            &:hover {
                background-color: rgba($greenColor, $alpha: .25);
            }
        }
    }
}

.oldServer {
    height: 85vh;
    grid-template-rows: 100%;

    .paymentBody {
        grid-row: 1/2;
        grid-template-rows: 10% 80% 10%;
    }
}