/* 
#72F2F2 light blue
#84BFB9 light gray
#25594B dark green
#30BF8B smooth green
#2B8C69 darkish green
#1a1a1a dark gray
#fffafafa almost White
#E24D42 smooth red
*/

* {
  margin: 0;
  padding: 0;
  font-family: Inter UI, sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

$backgroundColorBack: #141618;
$backgroundColor: #212529;
$backgroundColorLight: #293036;
$blueColor: #329af0;
$greenColor: #51cf66;
$orangeColor: #ff8100;
$pinkColor: rgba(204,93,232, 0.9);
$redColor: #fa5252;
$smoothRed: #E24D42;
$yellowColor: #eed202;
$smoothYellow: #eab839;
$paymentColor: #87bbfd;

body {
  // background-color: #212529;
  // background-image: url("../../images/2773233.jpg");
  background-color: $backgroundColorBack;
}

span, p, a, h1, h2, h3, button, input, label{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin hover($color: $greenColor) {
  transition: .5s ease all;
  &:hover {
    color: rgba($color, $alpha: 0.8);
  }
}

@keyframes animateInAnimation{
  0%{opacity: 0}
  100%{opacity: 1}
}

@mixin inputDefaults($colorVar: $blueColor, $width: 100%, $fontSize: 1.3rem, $height: 100%){
  position: relative;
  width: $width;
  input{
      border: none;
      padding-top: 1rem;
      width: 100%;
      outline: none;
      font-size: $fontSize;
      background-color: transparent;
      color: rgba($color: #fff, $alpha: 0.65);
  }
  input:focus + label span,
  input:valid + label span{
      transform: translateY(-150%);
      font-size: 1rem;
      color: rgba($color: $colorVar, $alpha: 0.5);
  }
  input:focus + label::after,
  input:valid + label::after{
      transform: translateX(0%);
  }
  label{
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: $height;
      width: 100%;
      pointer-events: none;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
      color: rgba($color: #fff, $alpha: 1);
      overflow: hidden;
      span{
          position: absolute;
          bottom: 5px;
          left: 0px;
          transition: all 0.3s ease;
      }
  }
  label::after{
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid rgba($color: $colorVar, $alpha: 0.5);
      transform: translateX(-100%);
      transition: transform 0.5s ease;
  }
}

@mixin inputCardStyle($width: calc(100%-2rem)){
  color: rgba($color: #fff, $alpha: .9);
  background-color: transparent;
  outline: none;
  border: solid 2px $backgroundColor;
  border-radius: 10px;
  width: $width;
  font-size: 1rem;
  font-weight: 500;
  height: 1.3rem;
  padding: 1rem;
  &::placeholder{
      color:$paymentColor;
  }
}

@mixin inputButtonStyle($width: 100%, $height: 100%){
  width: $width;
  height: $height;
  outline: none;
  border: none;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 10px;
  background-color: rgba($color: $blueColor, $alpha: .45);
  color:rgba($color: #fff, $alpha: .7);
  font-size: 1.3rem;
  transition: all .5s ease;
  &:hover{
      transform: scale(1.01);
      background-color: rgba($color: $blueColor, $alpha: .55);
  }
}